:root {
  --primary-color: #61dafb; /* React Blue */
  --dark-bg: #20232a;
  --header-bg: #282c34;
  --card-bg: #333;
  --text-color: #ffffff;
  --text-secondary: #aaa;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-bg);
  color: var(--text-color);
}
